h2{
    margin-left: 40px;
    margin-top: 30px;
    font-style:italic ;
    font-weight: 400;
    font-size: 30px;
}
.banner video {
    width: 95%;
    height: 90%;
    object-fit: cover; 
  }
.trending{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner video{
    width: 1400px;
    height: 700px;
    object-fit: fill; 
}
.texts{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.texts h1{
    font-size: 55px;
    font-weight: 900;
    font-style: italic;
}

.texts h4{
    font-size: 16px;
    font-weight: 300;
}

button{

    margin-top: 20px;
    width: 80px;
    border-radius: 50px;
    height: 40px;
    border: none;
    background-color: black;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
  }